TE1_06/WTL_06/employees (1).dtd

<!ELEMENT employees (employee+)>

<!ELEMENT employee (emp_id, name, position, organization, department, salary, email, date_of_joining, task, address, contact_no)>

<!ELEMENT emp_id (#CDATA)>
<!ELEMENT name (#CDATA)>
<!ELEMENT position (#CDATA)>
<!ELEMENT organization (#CDATA)>
<!ELEMENT department (#CDATA)>
<!ELEMENT salary (#CDATA)>
<!ELEMENT email (#CDATA)>
<!ELEMENT date_of_joining (#CDATA)>
<!ELEMENT task (#CDATA)>
<!ELEMENT address (#CDATA)>
<!ELEMENT contact_no (#CDATA)>